@inherits LayoutComponentBase
@inject NavigationManager NavMan
@inject UserService UserServ

<PageTitle>View</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingValue Value="this">
    <div class="page">
        <div id="container">
            <div id="topbar">
                <div>
                    <b style="font-size: 1.17rem; font-weight: bolder; color: white">Książka kucharska</b>
                </div>
                <div id="buttons">
                    @if (userInfo.IsLoggedIn)
                    {
                        <button class="account_btn" @onclick="OpenAccount"><i class="oi oi-person" aria-hidden="true"></i></button>
                    }
                    else
                    {
                        <button class="openlogin_btn" @onclick="OpenLogin"><i class="oi oi-person" aria-hidden="true"></i></button>
                    }
                </div>
            </div>

            <main>
                <div id="nav">
                    <NavMenu />
                </div>

                <div id="content">
                    <div id="article">
                        <CascadingValue Value="@userInfo">
                            @Body
                        </CascadingValue>
                    </div>
                </div>
            </main>
        </div>
    </div>
</CascadingValue>

<div class="modal-backdrop fade @(show ? "show" : "") @(display ? "d-block" : "d-none")"></div>

<div class="modal fade @(show ? "show" : "")  @(display ? "d-block" : "d-none")" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logowanie</h5>
                <button class="btn btn-danger" @onclick="Close">❌</button>
            </div>
            @if (errorMessage != null)
            {
                <div class="alert alert-danger" style="margin-top: 1rem; margin-left: 1rem; margin-right: 1rem" role="alert">
                @errorMessage
            </div>
            }
            <div class="modal-body">
                <EditForm Model="@logInData" OnValidSubmit="@LogIn">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <MudTextField @bind-Value="logInData.Login" Label="Nazwa użytkownika lub adres e-mail" For="@(() => logInData.Login)"></MudTextField>
                    </div>
                    <div class="mb-3">
                        <MudTextField @bind-Value="logInData.Password" Label="Hasło" For="@(() => logInData.Password)" Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestClick" AdornmentAriaLabel="Show Password" />
                    </div>
                    <div class="mb-3" id="bottom">
                        <a>Nie masz konta?</a>
                        <button class="btn-link" type="button" @onclick="SignUp">Zarejestruj się</button>
                    </div>
                    <div class="modal-footer">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="btn1">Zaloguj się</MudButton>
                        <MudButton Variant="Variant.Filled" OnClick="Close" Class="btn2">Anuluj</MudButton>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<style>
    .btn1 {
        background: rgba( 22, 166, 185 );
        font-size: 1.17em;
        color: white;
        margin-right: 5px;
    }

    .btn2 {
        background: gray;
        font-size: 1.17em;
        color: white;
    }

        .btn1:hover, .btn2:hover {
            background: rgba(227, 225, 222);
        }
</style>


@code {
    UserDto user = new();
    LogInDataDto logInData = new();

    private bool show, display;

    private string errorMessage;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    private UserInfo userInfo = new UserInfo();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public async Task OpenLogin()
    {
        display = true;
        await Task.Delay(100);
        show = true;
        errorMessage = null;
    }

    private async Task LogIn()
    {
        int loggedUserId = await UserServ.LoginAsync(logInData.Login, logInData.Password);

        logInData.Login = string.Empty;
        logInData.Password = string.Empty;

        if (loggedUserId >= 0)
        {
            userInfo.LoggedUserId = loggedUserId;
            userInfo.IsLoggedIn = true;
            show = false;
            await Task.Delay(500);
            display = false;
            NavMan.NavigateTo("/");
        }
        else
        {
            errorMessage = "Nieprawidłowa nazwa użytkownika, adres e-mail lub hasło.";
        }
    }

    public async Task LogOut()
    {
        userInfo.LoggedUserId = -1;
        userInfo.IsLoggedIn = false;
        NavMan.NavigateTo("/");
    }

    private async Task SignUp()
    {
        show = false;
        await Task.Delay(500);
        display = false;
        NavMan.NavigateTo("/signup");
    }

    private async Task OpenAccount()
    {
        show = false;
        await Task.Delay(500);
        display = false;
        NavMan.NavigateTo("/account/0");
    }

    private async Task Close()
    {
        show = false;
        await Task.Delay(500);
        display = false;
    }

    void ButtonTestClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
