@page "/myrecipe/{Id:int}"
@inject NavigationManager NavMan
@inject RecipeService RecServ

@if (recipe == null)
{
    <h3>Loading...</h3>
}
else
{
    <div id="title">
        <h3 style="text-align: center; font-weight: bolder">@recipe.Title</h3>
    </div>

    <div id="info">
        <img src="https://wszystkiegoslodkiego.pl/storage/images/201922/letni-tort-bezowy.webp">
        <div id="description">
            <p>
                <b>Czas przygotowania: </b>@recipe.PrepareTime<br />
                <b>Porcje: </b>@recipe.Portions<br />
                <b>Trudność: </b>@recipe.Difficulty/5<br />
            </p>
        </div>
    </div>

    @if (ingridientsList == null)
    {
        <h3>Brak składników</h3>
    }
    else
    {
        @if (ingridientsList.Any())
        {
            <div id="ingridients">
                <div id="sec-title">
                    <p>SKŁADNIKI</p>
                </div>
                <ul>
                    @foreach (var ingridient in ingridientsList)
                    {
                        <li>@ingridient.name</li>
                    }
                </ul>
            </div>
        }
    }

    <div id="preparation">
        <div id="sec-title">
            <p>PRZYGOTOWANIE</p>
        </div>
        <p style="margin-left: 30px; margin-right: 30px;">@recipe.Content</p>
    </div>
}

<style>
    #title {
        width: auto;
        margin: 10px;
        padding: 5px;
    }

    #sec-title {
        background-color: rgba( 22, 166, 185 );
        width: auto;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        font-size: 1.17em;
        font-weight: bolder;
        display: flex;
        align-items: center;
    }

    #info {
        display: flex;
        flex-direction: row;
    }

    #description {
        float: left;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .img {
        float: left;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 8px;
        height: 100px;
    }

    ul {
        list-style-type: disc;
        margin-left: 40px;
    }
</style>

@code {
    [Parameter]
    public int Id { get; set; }

    private Recipe? recipe;
    private List<Ingridient>? ingridientsList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        recipe = await RecServ.GetRecipeAsync(Id);
        ingridientsList = await RecServ.GetIngridientsListAsync(Id);
    }
}