@page "/newrecipe"
@inject RecipeService RecServ

@*<style>
 .mydiv{
        background-color: white;
    }
</style>*@

<div >
    <EditForm Model="@recipe">
        <MudStack Row="true">
            <MudTextField @bind-Value="recipe.Title" Label="Nazwa"></MudTextField>
            <MudTextField @bind-Value="ingredient" Label="Składnik"></MudTextField>
            <MudTextField @bind-Value="quantity" Adornment="Adornment.End" AdornmentText="g" Label="Ilość"></MudTextField>
            <MudButton Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" EndIcon="@Icons.Material.Filled.ArrowForward">Dodaj składnik</MudButton>
            <MudTextField @bind-Value="tag" Adornment="Adornment.End" AdornmentText="g" Label="Tag"></MudTextField>
            <MudButton Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" EndIcon="@Icons.Material.Filled.ArrowForward">Dodaj tag</MudButton>
        </MudStack>
        <p><MudTextField T="string" Label="Opis przygotowania" Text="@recipe.Content" Lines="10" /></p>
        <MudStack Row="true">
            <MudNumericField @bind-Value="recipe.Portions" Label="Liczba porcji" Step="1" />
            <MudTimePicker Label="Czas przygotowania" @bind-Time="time" />
            <MudSelect T="int" Label="Stopień trudności" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem T="int" Value="1" />
                <MudSelectItem T="int" Value="2" />
                <MudSelectItem T="int" Value="3" />
                <MudSelectItem T="int" Value="4" />
                <MudSelectItem T="int" Value="5" />
            </MudSelect>
        </MudStack>
    
</EditForm><br />
    <p><MudButton Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" OnClick="AddRecipe" EndIcon="@Icons.Material.Filled.ArrowForward" FullWidth="true">Dodaj przepis</MudButton></p>

    @*@if (ingredients is null)
    {
        <p>
            Ten przepis nie ma składników
        </p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Składnik</th>
                    <th>Ilość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ingredients)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <button class="btn btn-primary" @onclick="@(() => EditIngredient(item))">📝</button>
                            <button class="btn btn-danger" @onclick="@(() => DeleteIngredient(item))">❌</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }*@
</div>

@code {
    Recipe recipe = new();

    TimeSpan? time = new TimeSpan(00, 00, 00);
    String? ingredient = "";
    String? tag = "";
    int? quantity = 0;
    List<Ingridient> ingridients = new();


    async Task AddRecipe()
    {
        await RecServ.AddRecipeAsync(recipe);
        recipe = new();
    }
}
