@page "/newrecipe"
@inject RecipeService RecServ

@*<style>
 .mydiv{
        background-color: white;
    }
</style>*@

<div>
    <EditForm Model="@recipe" OnValidSubmit="@AddRecipe">
        <DataAnnotationsValidator />
        <MudStack Row="true">
            <MudTextField @bind-Value="recipe.Title" Label="Nazwa" For="@(() => recipe.Title)"></MudTextField>
            <MudNumericField @bind-Value="recipe.Portions" Label="Liczba porcji" Step="1" Min="1" For="@(() => recipe.Portions)" />
            <MudTimePicker Label="Czas przygotowania" @bind-Time="recipe.PrepTimeAsTimeSpan" For="@(() => recipe.PrepTimeAsTimeSpan)" />
            <MudSelect T="int" Label="Stopień trudności" AnchorOrigin="Origin.BottomCenter" Min="1" For="@(() => recipe.Difficulty)">
                <MudSelectItem T="int" Value="1" />
                <MudSelectItem T="int" Value="2" />
                <MudSelectItem T="int" Value="3" />
                <MudSelectItem T="int" Value="4" />
                <MudSelectItem T="int" Value="5" />
            </MudSelect>
        </MudStack>
        <p><MudTextField T="string" Label="Opis przygotowania" Text="@recipe.Content" Lines="10" For="@(() => recipe.Content)" /></p>
        <p><MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" EndIcon="@Icons.Material.Filled.ArrowForward" FullWidth="true">Dodaj przepis</MudButton></p>
    </EditForm>
    <MudStack Row="true">
        <EditForm Model="@ingredient" OnValidSubmit="@AddIngredient">
            <DataAnnotationsValidator />
            <MudStack Row="true">
                <MudTextField @bind-Value="ingredient.name" Label="Składnik" For="@(() => ingredient.name)"></MudTextField>
                <MudTextField @bind-Value="quantity" Adornment="Adornment.End" AdornmentText="g" Label="Ilość"></MudTextField>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" EndIcon="@Icons.Material.Filled.ArrowForward">Dodaj składnik</MudButton>
            </MudStack>
        </EditForm>
        <EditForm Model="@tag" OnValidSubmit="@AddTag">
            <DataAnnotationsValidator />
            <MudStack Row="true">
                <MudSelect T="string" Label="Lista tagów" AnchorOrigin="Origin.BottomCenter" OpenIcon="@Icons.Material.Filled.Bookmarks">
                    @foreach (var item in tags)
                    {
                        <MudSelectItem Value="@item">@item</MudSelectItem>
                    }
                </MudSelect>
                <MudTextField @bind-Value="tag.Name" Label="Tag" For="@(() => tag.Name)"></MudTextField>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="@($"background:{Colors.Cyan.Default}; color:{Colors.Grey.Lighten5};")" EndIcon="@Icons.Material.Filled.ArrowForward">Dodaj tag</MudButton>
            </MudStack>
        </EditForm><br />
    </MudStack><br />


    @if (ingredients is null)
    {
        <p>
            Ten przepis nie ma składników
        </p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Składnik</th>
                    <th>Ilość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ingredients)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                        <td>
                            <button class="btn btn-primary" @*@onclick="@(() => EditIngredient(item))*@">📝</button>
                            <button class="btn btn-danger" @*@onclick="@(() => DeleteIngredient(item))" *@>❌</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>


@code {
    class MyRecipe : RecipeDto
    {
        public TimeSpan? PrepTimeAsTimeSpan
        {
            get => PrepareTime.TimeOfDay;
            set => PrepareTime = new DateTime() + value?? new DateTime();
        }

    }
    MyRecipe recipe = new();
    IngridientDto ingredient = new();
    TagDto tag = new();
    List<TagDto> tags = new();

    TimeSpan DateTimeToTimeSpan(DateTime? ts)
    {
        if (!ts.HasValue) return TimeSpan.Zero;
        else return new TimeSpan(0, ts.Value.Hour, ts.Value.Minute, ts.Value.Second, ts.Value.Millisecond);
    }

    int? quantity = 0;
    List<IngridientDto> ingredients = new();


    async Task AddRecipe()
    {
        await RecServ.AddRecipeAsync(recipe);
        recipe = new();
    }

    async Task AddIngredient()
    {
        //await RecServ.AddRecipeAsync(recipe);
        //recipe = new();
    }

    async Task AddTag()
    {
        //await RecServ.AddRecipeAsync(recipe);
        //recipe = new();
    }
}
